#title
{
    background-color: #ff4c68;
    z-index: -1;
    
}

.navbar
{
    padding-bottom: 5%;
}

.image
{
    position: absolute;
    
    transform: rotate(25deg);
    right:  30%;
    z-index: 0;

    
}

h1
{
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: bolder;
    color: white;
    line-height: 1.5;
}

h3{
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5% 0;
   
}

h2
{
    font-family: 'Montserrat-Black';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

p
{
    color: grey;
}

.nav-item
{
    padding: 0 18px;
    font-size: 1.5rem;
    color: grey;
}

.container-fluid
{
    padding: 3% 15% 7%;
}

.navbar-brand
{
    font-family: 'Montserrat';
    font-size: 2.5rem;
}

.downlod-btn
{
    margin: 5% 3%;

}


#features
{
    font-family: 'Montserrat';
    text-align: center;
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;

}

.feature-box
{

    padding: 5%;
}

.icon
{
    color:#ef8172;
}

.icon:hover
{
    color: #ff4c68;
}


#testimonials
{
    background-color: #ef8172;
    text-align: center;
   
    color: #fff;
    
}


.carousel-item
{
    padding: 7% 15%;
}

.dogimage
{
    
    border-radius: 100%;
    width: 20%;
    margin: 20px;
    
}

#press
{
    background-color: #ef8172;
    text-align: center;
    padding: 3%;
}

.company
{
    width: 15%;
    padding: 20px 20px 50px;
}

#pricing
{
    padding: 100px;
    text-align: center;
}

.pricing
{
    padding: 3% 2%;
}

#cta
{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
}

.lastdiv
{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: bolder;
    color: white;
    line-height: 1.5;
    padding: 20px ;
}



.downlod-btn-2
{
    margin: 20px 10px;
}


.final
{
    margin: 10px 20px;
}

@media (max-width: 1028px)
{
    #title
    {
        text-align: center;
    }
    .image{
        position: static;
        transform: rotate(0);
    }
}

